.addOrderCheck {
  color: black;
  background-color: white;
  align-items: center;
  -webkit-text-fill-color: black;
  max-width: 200px;
}

.addOrderSelect {
  align-items: right;
  text-align: right;
  max-width: 200px;
}

.AddOrder {
  color: black;
  align-items: center;
}

.AddOrderForm {
  max-width: 400px;
  margin: 0 auto;
}